# 파이썬 가상 환경
/.venv

# 파이썬 캐시 파일
**__pycache__**

# 환경 변수
/.env
/alembic.ini 

# VSC Config
/.vscode
/data/logs

# 토큰 파일
/tokens.json

# 데이터 파일
/products_output.json

# 토큰 파일
/richcp_tokens.json
/siasiucp_tokens.json

# 테스트 결과 파일
/app/tests/results
/navercommerce_fetch_test.json

# 사용자 사전 파일(kiwipiepy 사용)
/data/etc/user_dict.txt

