# 파이썬 가상 환경
/.venv

# 파이썬 캐시 파일
**__pycache__**

# 환경 변수
/.env
/alembic.ini 

# VSC Config
/.vscode
/data/logs

# 토큰 파일
/tokens.json

# 데이터 파일
/products_output.json

# 토큰 파일
/richcp_tokens.json
/siasiucp_tokens.json

# 테스트 파일
/navercommerce_fetch_test.json